.navbar{
    justify-content: space-between;
}

.container.d-flex{
    gap: 1rem;
}

.action-buttons {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

tr:hover .action-buttons {
    opacity: 1;
}

.edit-mode, sell-mode {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
}