.navbar{
    justify-content: space-between;
}

.container.d-flex{
    gap: 1rem;
}

.text-start {
    width: 8rem;
}

.action-buttons {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

tr:hover .action-buttons {
    opacity: 1;
}