{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="container py-5 text-center">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
                {% if get_flashed_messages() %}
                    <div class="alert alert-danger" role="alert">
                        {{get_flashed_messages()}}
                    </div>
                {% endif %}
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
{% endblock %}