{% extends "index.html" %}

{% block title %}
    Sales
{% endblock %}

{% block main %}
    <div class="container py-5 px-5">
        <table class="table table-hover">
            <thead>
                <th class="text-start">Date</th>
                <th class="text-start">Product</th>
                <div class="d-flex justify-content-center align-items-center my-3">
                    <button class="btn btn-outline-secondary btn-sm me-3" onclick="changeDate(-1)">&lt;</button>
                    <div class="fw-bold fs-5">
                        <input type="date" id="datePicker" value="{{ current_date }}" 
                            onchange="window.location.href='/sales?date=' + this.value"
                            style="border:none; background:transparent; font-weight:bold;">
                    </div>
                    <button class="btn btn-outline-secondary btn-sm ms-3" onclick="changeDate(1)">&gt;</button>
                </div>
                <th class="text-start">Sold Price</th>
                <th class="text-center">Units</th>
                <th class="text-center">Profit</th>
            </thead>
            <tbody class="table-group-divider container">
                {% for sale in sales%}
                    <tr>
                        <td class="text-start">{{ sale.date }}</td>
                        <td class="text-start">{{ sale.product }}</td>
                        <td class="text-start">{{ sale.sell_price }}</td>
                        <td class="text-center">{{ sale.units }}</td>
                        <td class="text-center">{{ sale.profit }}</td>
                    </tr>
                {% endfor %}   
            </tbody>
            <tfoot>
                <th class="text-end px-5" colspan="4">TOTAL</th>
                <th class="text-center">{{ profit }}</th>
            </tfoot>
        </table>
    </div>
{% endblock %} 