{% extends "layout.html" %}

{% block title %}
    Sales
{% endblock %}

{% block main %}
    <div class="container py-5 px-5">
        <table class="table table-hover">
            <thead>
                <th class="text-start">Date</th>
                <th class="text-start">Product</th>
                <th class="text-start">Sold Price</th>
                <th class="text-center">Units</th>
                <th class="text-center">Profit</th>
            </thead>
            <tbody class="table-group-divider container">
                {% for sale in sales%}
                    <tr>
                        <td class="text-start">{{ sale.date }}</td>
                        <td class="text-start">{{ sale.product }}</td>
                        <td class="text-start">{{ sale.sell_price }}</td>
                        <td class="text-center">{{ sale.units }}</td>
                        <td class="text-center">{{ sale.profit }}</td>
                    </tr>
                {% endfor %}   
            </tbody>
        </table>
    </div>
{% endblock %} 